html {
    height: 100%;
}

body {
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        font-family: 'Playfair Display', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.sister {
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
.logo-font {
    text-transform: uppercase;
}

.flag {
    float:left
}

.about {
    font-size:30px;
}



.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;

}

/*------------------------------------------footer-----------*/
footer {
    clear: both;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    color: white;
}

footer a {
    font-size: 30px;
    padding: 5px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
  
  
  