html,
body {
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.sister {
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
.logo-font {
    text-transform: uppercase;
}

.flag {
    float:left
}

.about {
    font-size:30px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;

}

.bg-black {
    background: #000 !important;
}

.picsize {
    height: 200px;
    width: 200px;
}

.btn-black {
    background: black;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}
/*------------------------------------------footer-----------*/
footer {
    clear: both;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    color: white;
}

footer a {
    font-size: 20px;
    padding: 5px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
  
  
  